body#LoginForm
    .container
        .login-form
            .main-div
                .panel
                    if info && info.message
                        div.alert.alert-danger
                         = info.message
                    h2 Recuperacion de password
                    p Por favor, ingrese su email y le enviaremos a esa cuenta las instrucciones 
                form#Login(action='/forgotPassword' method='post')
                    .form-group 
                        input#email.form-control(type='email' placeholder='Email Address' name='email')
                    button.btn.btn-primary(type='submit') Resetear