body#LoginForm
    .container
        .login-form
            .main-div
                .panel
                    h2 recuperacion de password
                    p Revise su cuenta de email, le llegaran Alli las instrucciones de reseteo