body#LoginForm
    .container
        .login-form
            .main-div
                .panel
                    if info && info.message
                        div.alert.alert-danger
                         = info.message
                    h2 cambio de password 
                    p Por favor, ingrese su clave 
                form#Login(action='/resetPassword' method='post')
                    input#email(type='hidden' name='email' value= usuario.email)
                    .form-group
                        label(for='pwd') Password:
                        input#pwd.form-control(type='password' name='password' class= errors.password)
                        if errors.password
                            small#passwordHelp.text-danger
                             = errors.password.message
                    .form-group
                        label(for='confirm_pwd') ConfirmarPassword:
                        input#confirm_pwd.form-control(type='password' name='confirm_password' class= errors.password)
                        if errors.confirm_pwd
                            small#confirm_pwdHelp.text-danger
                             = errors.confirm_pwd.message

                    button.btn.btn-primary(type='Submit') Login